<h2>All Restaurants</h2>

<% @restaurants.each do |restaurant| %>
<ul>
  <li>
    <%= restaurant.name %> |
    <%= link_to "See details", restaurant_path(restaurant), class: "btn btn-primary"  %>

  </li>
</ul>
<% end  %>
